<div class="row">
  <%= form_for(task) do |f| %>
    <div class="form-group">
      <div class="col-xs-12">
      <div class="col-sm-offset-2 col-sm-8">
      <div class="col-md-offset-2 col-md-8">
      <div class="col-lg-offset-3 col-sm-6">
    
    
     <% if task.errors.any? %>
       <div class="alert alert-warning">
         <ul>
           <% task.errors.full_messages.each do |task| %>
         <li><%= task %></li>
          <% end %>
        </ul>
       </div>
     <% end %>
  
    <div class="form-group">
    <%= f.label :status, 'ステータス' %>
    <%= f.text_field :status, class: 'form-control'  %>
  
    <div class="form-group">
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content, class: 'form-control'  %>

    <%= f.submit '追加', class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>